In [1]:
import pandas as pd

In [2]:
file='/Users/p/Downloads/neueFische/crime_nerds/Data/Weather_Data/weather_data.csv'
df = pd.read_csv(file)

In [3]:
df

,weather_date,weather_tavg,weather_tmin,weather_tmax,weather_prcp,weather_snow,weather_wdir,weather_wspd,weather_wpgt,weather_pres,weather_tsun,lat,lon
0,2006-01-01,3.0,0.0,5.6,0.0,0.0,NaN,3.7,NaN,1016.7,NaN,40.8520,-73.9129
1,2006-01-02,5.5,4.4,7.8,16.5,0.0,NaN,7.2,NaN,1021.3,NaN,40.8520,-73.9129
2,2006-01-03,2.8,1.7,4.4,26.7,0.0,35.0,23.0,NaN,1013.0,NaN,40.8520,-73.9129
3,2006-01-04,1.1,-1.7,3.3,0.0,0.0,NaN,11.1,NaN,1015.2,NaN,40.8520,-73.9129
4,2006-01-05,6.0,2.8,10.0,0.5,0.0,241.0,8.2,NaN,1005.3,NaN,40.8520,-73.9129
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1170167,2023-12-27,7.7,6.2,9.3,9.3,0.0,64.0,8.1,NaN,1017.7,NaN,40.6039,-74.1472
1170168,2023-12-28,10.4,8.7,12.0,38.7,0.0,23.0,11.9,NaN,1005.5,NaN,40.6039,-74.1472
1170169,2023-12-29,9.4,7.0,12.0,0.9,NaN,301.0,8.4,NaN,1004.8,NaN,40.6039,-74.1472
1170170,2023-12-30,5.3,1.3,7.2,0.1,0.0,290.0,15.3,NaN,1005.3,NaN,40.6039,-74.1472
1170171,2023-12-31,4.9,3.0,5.6,0.0,0.0,310.0,8.8,NaN,1015.0,NaN,40.6039,-74.1472

In [7]:
df['borough'] = 'Unknown'
df

,weather_date,weather_tavg,weather_tmin,weather_tmax,weather_prcp,weather_snow,weather_wdir,weather_wspd,weather_wpgt,weather_pres,weather_tsun,lat,lon,borough
0,2006-01-01,3.0,0.0,5.6,0.0,0.0,NaN,3.7,NaN,1016.7,NaN,40.8520,-73.9129,Unknown
1,2006-01-02,5.5,4.4,7.8,16.5,0.0,NaN,7.2,NaN,1021.3,NaN,40.8520,-73.9129,Unknown
2,2006-01-03,2.8,1.7,4.4,26.7,0.0,35.0,23.0,NaN,1013.0,NaN,40.8520,-73.9129,Unknown
3,2006-01-04,1.1,-1.7,3.3,0.0,0.0,NaN,11.1,NaN,1015.2,NaN,40.8520,-73.9129,Unknown
4,2006-01-05,6.0,2.8,10.0,0.5,0.0,241.0,8.2,NaN,1005.3,NaN,40.8520,-73.9129,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1170167,2023-12-27,7.7,6.2,9.3,9.3,0.0,64.0,8.1,NaN,1017.7,NaN,40.6039,-74.1472,Unknown
1170168,2023-12-28,10.4,8.7,12.0,38.7,0.0,23.0,11.9,NaN,1005.5,NaN,40.6039,-74.1472,Unknown
1170169,2023-12-29,9.4,7.0,12.0,0.9,NaN,301.0,8.4,NaN,1004.8,NaN,40.6039,-74.1472,Unknown
1170170,2023-12-30,5.3,1.3,7.2,0.1,0.0,290.0,15.3,NaN,1005.3,NaN,40.6039,-74.1472,Unknown
1170171,2023-12-31,4.9,3.0,5.6,0.0,0.0,310.0,8.8,NaN,1015.0,NaN,40.6039,-74.1472,Unknown

In [4]:
file='/Users/p/Downloads/neueFische/crime_nerds/Data/Weather_Data/nyc-zip-codes.csv'
df_2 = pd.read_csv(file)

In [5]:
df_2

           Borough              Neighborhood  ZipCode
0            Bronx             Central Bronx    10453
1            Bronx             Central Bronx    10457
2            Bronx             Central Bronx    10460
3            Bronx    Bronx Park and Fordham    10458
4            Bronx    Bronx Park and Fordham    10467
..             ...                       ...      ...
173  Staten Island               South Shore    10312
174  Staten Island  Stapleton and St. George    10301
175  Staten Island  Stapleton and St. George    10304
176  Staten Island  Stapleton and St. George    10305
177  Staten Island                Mid-Island    10314

[178 rows x 3 columns]

In [27]:
file='/Users/p/Downloads/neueFische/crime_nerds/Data/Weather_Data/lon_lat_zip_data.csv'
df_3 = pd.read_csv(file)

In [30]:
df_3.drop(['country','name'], axis=1, inplace=True)

In [31]:
df_3

       zip      lat      lon
0    10453  40.8520 -73.9129
1    10457  40.8486 -73.8999
2    10460  40.8409 -73.8794
3    10458  40.8633 -73.8895
4    10467  40.8737 -73.8712
..     ...      ...      ...
173  10312  40.5457 -74.1792
174  10301  40.6316 -74.0927
175  10304  40.6102 -74.0878
176  10305  40.5973 -74.0768
177  10314  40.6039 -74.1472

[178 rows x 3 columns]

In [33]:
df_23 = pd.merge(df_3, df_2, how='inner', left_on='zip', right_on='ZipCode')

In [36]:
df_00 = pd.merge(df_23, df, how='inner', left_on='lat', right_on='lat' )

In [37]:
df_00

,zip,lat,lon_x,Borough,Neighborhood,ZipCode,weather_date,weather_tavg,weather_tmin,weather_tmax,weather_prcp,weather_snow,weather_wdir,weather_wspd,weather_wpgt,weather_pres,weather_tsun,lon_y,borough
0,10453,40.8520,-73.9129,Bronx,Central Bronx,10453,2006-01-01,3.0,0.0,5.6,0.0,0.0,NaN,3.7,NaN,1016.7,NaN,-73.9129,Unknown
1,10453,40.8520,-73.9129,Bronx,Central Bronx,10453,2006-01-02,5.5,4.4,7.8,16.5,0.0,NaN,7.2,NaN,1021.3,NaN,-73.9129,Unknown
2,10453,40.8520,-73.9129,Bronx,Central Bronx,10453,2006-01-03,2.8,1.7,4.4,26.7,0.0,35.0,23.0,NaN,1013.0,NaN,-73.9129,Unknown
3,10453,40.8520,-73.9129,Bronx,Central Bronx,10453,2006-01-04,1.1,-1.7,3.3,0.0,0.0,NaN,11.1,NaN,1015.2,NaN,-73.9129,Unknown
4,10453,40.8520,-73.9129,Bronx,Central Bronx,10453,2006-01-05,6.0,2.8,10.0,0.5,0.0,241.0,8.2,NaN,1005.3,NaN,-73.9129,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1275351,10314,40.6039,-74.1472,Staten Island,Mid-Island,10314,2023-12-27,7.7,6.2,9.3,9.3,0.0,64.0,8.1,NaN,1017.7,NaN,-74.1472,Unknown
1275352,10314,40.6039,-74.1472,Staten Island,Mid-Island,10314,2023-12-28,10.4,8.7,12.0,38.7,0.0,23.0,11.9,NaN,1005.5,NaN,-74.1472,Unknown
1275353,10314,40.6039,-74.1472,Staten Island,Mid-Island,10314,2023-12-29,9.4,7.0,12.0,0.9,NaN,301.0,8.4,NaN,1004.8,NaN,-74.1472,Unknown
1275354,10314,40.6039,-74.1472,Staten Island,Mid-Island,10314,2023-12-30,5.3,1.3,7.2,0.1,0.0,290.0,15.3,NaN,1005.3,NaN,-74.1472,Unknown
1275355,10314,40.6039,-74.1472,Staten Island,Mid-Island,10314,2023-12-31,4.9,3.0,5.6,0.0,0.0,310.0,8.8,NaN,1015.0,NaN,-74.1472,Unknown

In [38]:
df_00.drop(['weather_wpgt','weather_tsun', 'borough', 'ZipCode', 'lon_y'], axis=1, inplace=True)

In [39]:
df_00

,zip,lat,lon_x,Borough,Neighborhood,weather_date,weather_tavg,weather_tmin,weather_tmax,weather_prcp,weather_snow,weather_wdir,weather_wspd,weather_pres
0,10453,40.8520,-73.9129,Bronx,Central Bronx,2006-01-01,3.0,0.0,5.6,0.0,0.0,NaN,3.7,1016.7
1,10453,40.8520,-73.9129,Bronx,Central Bronx,2006-01-02,5.5,4.4,7.8,16.5,0.0,NaN,7.2,1021.3
2,10453,40.8520,-73.9129,Bronx,Central Bronx,2006-01-03,2.8,1.7,4.4,26.7,0.0,35.0,23.0,1013.0
3,10453,40.8520,-73.9129,Bronx,Central Bronx,2006-01-04,1.1,-1.7,3.3,0.0,0.0,NaN,11.1,1015.2
4,10453,40.8520,-73.9129,Bronx,Central Bronx,2006-01-05,6.0,2.8,10.0,0.5,0.0,241.0,8.2,1005.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1275351,10314,40.6039,-74.1472,Staten Island,Mid-Island,2023-12-27,7.7,6.2,9.3,9.3,0.0,64.0,8.1,1017.7
1275352,10314,40.6039,-74.1472,Staten Island,Mid-Island,2023-12-28,10.4,8.7,12.0,38.7,0.0,23.0,11.9,1005.5
1275353,10314,40.6039,-74.1472,Staten Island,Mid-Island,2023-12-29,9.4,7.0,12.0,0.9,NaN,301.0,8.4,1004.8
1275354,10314,40.6039,-74.1472,Staten Island,Mid-Island,2023-12-30,5.3,1.3,7.2,0.1,0.0,290.0,15.3,1005.3
1275355,10314,40.6039,-74.1472,Staten Island,Mid-Island,2023-12-31,4.9,3.0,5.6,0.0,0.0,310.0,8.8,1015.0

In [42]:
rename = {
    'weather_date': 'date',
    'weather_tavg': 'temp_avg',
    'weather_tmin': 'temp_min',
    'weather_tmax': 'temp_max',
    'weather_prcp': 'total_precipitation_mm',
    'weather_snow': 'snow_depth_mm',
    'weather_wdir': 'avg_wind_direction',
    'weather_wspd': 'wind_km/h',
    'weather_pres': 'air_pressure_hPa',
    'lat': 'lat',
    'lon_x': 'lon',
    'Borough': 'borough',
    'Neighborhood': 'neighborhood',
    'zip': 'zip_code'
}

df_00.rename(rename, axis=1, inplace=True)

In [43]:
df_00

,zip_code,lat,lon,borough,neighborhood,date,temp_avg,temp_min,temp_max,total_precipitation_mm,snow_depth_mm,avg_wind_direction,wind_km/h,air_pressure_hPa
0,10453,40.8520,-73.9129,Bronx,Central Bronx,2006-01-01,3.0,0.0,5.6,0.0,0.0,NaN,3.7,1016.7
1,10453,40.8520,-73.9129,Bronx,Central Bronx,2006-01-02,5.5,4.4,7.8,16.5,0.0,NaN,7.2,1021.3
2,10453,40.8520,-73.9129,Bronx,Central Bronx,2006-01-03,2.8,1.7,4.4,26.7,0.0,35.0,23.0,1013.0
3,10453,40.8520,-73.9129,Bronx,Central Bronx,2006-01-04,1.1,-1.7,3.3,0.0,0.0,NaN,11.1,1015.2
4,10453,40.8520,-73.9129,Bronx,Central Bronx,2006-01-05,6.0,2.8,10.0,0.5,0.0,241.0,8.2,1005.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1275351,10314,40.6039,-74.1472,Staten Island,Mid-Island,2023-12-27,7.7,6.2,9.3,9.3,0.0,64.0,8.1,1017.7
1275352,10314,40.6039,-74.1472,Staten Island,Mid-Island,2023-12-28,10.4,8.7,12.0,38.7,0.0,23.0,11.9,1005.5
1275353,10314,40.6039,-74.1472,Staten Island,Mid-Island,2023-12-29,9.4,7.0,12.0,0.9,NaN,301.0,8.4,1004.8
1275354,10314,40.6039,-74.1472,Staten Island,Mid-Island,2023-12-30,5.3,1.3,7.2,0.1,0.0,290.0,15.3,1005.3
1275355,10314,40.6039,-74.1472,Staten Island,Mid-Island,2023-12-31,4.9,3.0,5.6,0.0,0.0,310.0,8.8,1015.0

In [48]:
df_00.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1275356 entries, 0 to 1275355
Data columns (total 14 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   zip_code                1275356 non-null  object
 1   lat                     1275356 non-null  float64
 2   lon                     1275356 non-null  float64
 3   borough                 1275356 non-null  object
 4   neighborhood            1275356 non-null  object
 5   date                    1275356 non-null  datetime64[ns]
 6   temp_avg                1273795 non-null  float64
 7   temp_min                1275356 non-null  float64
 8   temp_max                1275356 non-null  float64
 9   total_precipitation_mm  1275356 non-null  float64
 10  snow_depth_mm           1275160 non-null  float64
 11  avg_wind_direction      929725 non-null   float64
 12  wind_km/h               1275356 non-null  float64
 13  air_pressure_hPa        1220771 non-null  float64
dtypes: datetime64[ns](1), float64(10), object(3)
memory usage: 136.2+ MB

In [45]:
df_00.zip_code = df_00.zip_code.astype(str)

In [47]:
df_00.date = pd.to_datetime(df_00.date)

In [56]:
new_col_order = [5,6,7,8,9,10,11,12,13,3,0,1,2]
df_final = df_00.iloc[:,new_col_order]

In [57]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1275356 entries, 0 to 1275355
Data columns (total 13 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   date                    1275356 non-null  datetime64[ns]
 1   temp_avg                1273795 non-null  float64
 2   temp_min                1275356 non-null  float64
 3   temp_max                1275356 non-null  float64
 4   total_precipitation_mm  1275356 non-null  float64
 5   snow_depth_mm           1275160 non-null  float64
 6   avg_wind_direction      929725 non-null   float64
 7   wind_km/h               1275356 non-null  float64
 8   air_pressure_hPa        1220771 non-null  float64
 9   borough                 1275356 non-null  object
 10  zip_code                1275356 non-null  object
 11  lat                     1275356 non-null  float64
 12  lon                     1275356 non-null  float64
dtypes: datetime64[ns](1), float64(10), object(2)
memory usage: 126.5+ MB

In [58]:
weather_data = df_final[df_final.duplicated(subset=['date'],keep=False)] 
weather_data

,date,temp_avg,temp_min,temp_max,total_precipitation_mm,snow_depth_mm,avg_wind_direction,wind_km/h,air_pressure_hPa,borough,zip_code,lat,lon
0,2006-01-01,3.0,0.0,5.6,0.0,0.0,NaN,3.7,1016.7,Bronx,10453,40.8520,-73.9129
1,2006-01-02,5.5,4.4,7.8,16.5,0.0,NaN,7.2,1021.3,Bronx,10453,40.8520,-73.9129
2,2006-01-03,2.8,1.7,4.4,26.7,0.0,35.0,23.0,1013.0,Bronx,10453,40.8520,-73.9129
3,2006-01-04,1.1,-1.7,3.3,0.0,0.0,NaN,11.1,1015.2,Bronx,10453,40.8520,-73.9129
4,2006-01-05,6.0,2.8,10.0,0.5,0.0,241.0,8.2,1005.3,Bronx,10453,40.8520,-73.9129
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1275351,2023-12-27,7.7,6.2,9.3,9.3,0.0,64.0,8.1,1017.7,Staten Island,10314,40.6039,-74.1472
1275352,2023-12-28,10.4,8.7,12.0,38.7,0.0,23.0,11.9,1005.5,Staten Island,10314,40.6039,-74.1472
1275353,2023-12-29,9.4,7.0,12.0,0.9,NaN,301.0,8.4,1004.8,Staten Island,10314,40.6039,-74.1472
1275354,2023-12-30,5.3,1.3,7.2,0.1,0.0,290.0,15.3,1005.3,Staten Island,10314,40.6039,-74.1472
1275355,2023-12-31,4.9,3.0,5.6,0.0,0.0,310.0,8.8,1015.0,Staten Island,10314,40.6039,-74.1472

In [59]:
from my_fcts import check_nan

ModuleNotFoundError: No module named 'my_fcts'